<table class="table table-hover">
  <thead>
  <th>Archivo</th><th>Ramo</th><th>Año</th><th>Semestre</th><th>Profesor</th>
  </thead>
  <tbody>
  <% @archivos.each do |archivo|  %>
      <tr>
        <td><span class="glyphicon glyphicon-file"></span> <%= link_to (int2tipo(archivo.tipo)), archivo %></td>
        <td><%= link_to (archivo.curso.nombre + ' - ' + archivo.curso.sigla), archivo.curso %></td>
        <td><%= archivo.ano %></td>
        <td><%= int2semestre(archivo.semestre) %></td>
        <td><%= archivo.profesor %></td>
      </tr>
  <% end %>
  </tbody>
</table>