<!DOCTYPE html>
<html>
<head>
  <title>Recursosuc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="navbar navbar-default" role="navigation" >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= url_for root_url %>"><h3 class="t-principal">Recursos<span>UC</span></h3></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <% if user_signed_in? %>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              <% end %>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

            <!-- Brand and toggle get grouped for better mobile display -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <p class="navbar-text"><strong><%= current_user.email %></strong></p>
                <% end %>
                <li><a href="#">Acerca de</a></li>
                <% if user_signed_in? %>
                  <li <%= current_page?(edit_user_registration_path)?'class=active':'' %>><%= link_to "Editar Perfil", edit_user_registration_path %></li>
                  <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li <%= current_page?(new_user_registration_path)?'class=active':'' %>><%= link_to "Registrarse", new_user_registration_path %></li>
                  <li <%= current_page?(new_user_session_path)?'class=active':'' %>><%= link_to "Ingresar", new_user_session_path %></li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="contenedor-principal">
      <div class="buscador text-center">
        <% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:alert] %>
            <div class="alert alert-warning"><strong>Atención: </strong><%= flash[:alert] %></div>
        <% end %>
        <div class="row">
            <form class="form-inline" role="form">
              <div class="input-group-btn">
                <input type="text" class="form-control" id="buscador" placeholder="I3 Estatica y dinamica segundo semestre" required>
                <button type="button" class="btn btn-success" id="boton-avanzado">Avanzado <span class="caret"></span></button>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
            </form>
        </div>
        <div class="container" id="editor-input">
          <div class="jumbotron">
            hola
          </div>
        </div>
      </div>
      <!-- EN BUSQUEDA -->
      <%= yield %>
      <!-- FIN BUSQUEDA -->
      </form>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div id="creditos">
        <hr>
        <p class="muted credit"><small><a href="#">RecursosUC</a> © 2013</small></p>
      </div>
    </div>
    <script>
        $("#boton-avanzado").click(function () {
            $("#editor-input").slideToggle('fast',
                    function () {
                        $("#icono_chevron").toggleClass("icon-chevron-down icon-chevron-up");
                    }
            );
        });
    </script>
</body>
</body>
</html>
